/* .carousel-images {
    height: 50%;
    width: 50%;
  } */

.carousel-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    
}  

.left {
    float: right;
}
.gray-text {
    color: rgb(36, 36, 36);
}

.spacing {
    margin-top: 10px;
}

/* .float {
float: left;
} */